@use "../helpers/" as *;

.left-section {
	flex-basis: 62%;
	background: url(../../../images/bg-pattern-desktop.svg);
	background-size: cover;
	background-repeat: no-repeat;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 13.3rem;
	padding: 6.5rem 4rem 0 15%;
	.logo {
		@include display(mobile) {
			margin-left: 4rem;
		}
	}
	.hero-mobile {
		display: none;
		@include display(tab-port) {
			display: block;
		}
		@include display(tab-port) {
			width: 80%;
		}
		@include display(mobile) {
			width: 100%;
			margin-top: 4rem;
		}
	}
	&__form {
		max-width: 45rem;
		h1 {
			text-transform: uppercase;
			margin-bottom: 2rem;
			span {
				color: $desaturated-red;
				font-weight: 300;
			}
			color: $dark-grayish-red;
			font-weight: 700;
		}
		p {
			color: $desaturated-red;
			margin-bottom: 3.8rem;
		}
		form {
			.custom-input {
				height: 5.6rem;
				position: relative;
				input {
					position: relative;
					border: none;
					border: 1px solid lightgray;
					border-radius: 3rem;
					width: 100%;
					height: 100%;
					padding-left: 3rem;
					background-color: inherit;
					outline: none;
					font-size: 1.5rem;
					font-weight: 400;
					color: $dark-grayish-red;
					&::placeholder {
						color: $desaturated-red;
						font-size: 1.5rem;
						letter-spacing: 0.05rem;
					}
					@include display(tab-land) {
						font-weight: 300;
					}
					@include display(tab-port) {
						font-size: 1.4rem;
					}
				}
				button {
					position: absolute;
					right: 0;
					background-image: $gradients-2;
					width: 10rem;
					height: 100%;
					cursor: pointer;
					border: none;
					outline: none;
					border-radius: 3rem;
					box-shadow: 0 17px 24px 0px hsl(0, 80%, 86%);
					&:hover {
						opacity: 0.7;
					}
					&:hover::after {
						opacity: 1;
					}
					@include display(mobile) {
						width: 7.5rem;
					}
				}
			}
			span {
				position: relative;
				font-size: 1.4rem;
				color: $soft-red;
				display: block;
				padding-left: 3rem;
				margin-top: 1.3rem;
			}
		}
		.form--invalid {
			button {
				&::after {
					content: "";
					position: absolute;
					opacity: 0.8;
					width: 2.6rem;
					height: 2.6rem;
					bottom: 25%;
					right: 107%;
					background: url(../../images/icon-error.svg);
					background-repeat: no-repeat;
				}
			}
		}
		@include display(tab-port) {
			width: 80%;
		}
		@include display(mobile) {
			margin: 60px auto;
			width: 85%;
		}
	}
	@include display(tab-land) {
		flex-basis: 55%;
		padding: 6.5rem 4rem;
	}
	@include display(tab-port) {
		flex-basis: 100%;
		justify-content: flex-start;
		align-items: center;
		gap: 8rem;
	}
	@include display(mobile) {
		padding: 40px 0;
		align-items: flex-start;
		gap: 0;
	}
}

.right-section {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	height: 100vh;
	img {
		object-fit: cover;
		height: 100%;
		width: 100%;
		vertical-align: middle;
		@include display(tab-land) {
			object-position: 50% 0;
		}
	}
	@include display(tab-land) {
		flex-basis: 45%;
	}
	@include display(tab-port) {
		display: none;
	}
}
